    <div class="card">
      <h2 class="card__title">{{title}}</h2>
      <p class="card__descr">{{description}}</p>
      <img src="{{image}}" alt="" class="card__img">
      <a href="{{url}}" class="card__url">{{url}}</a>
      <button class="card__deleate button">Delete</button>
    </div>